body {
  font: 12px Arial;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

body {
  padding-top: 50px;
  padding-left: 100px;
}

.bar {
  display: inline-block;
  width: 20px;
  height: 75px; /* Gets overriden by D3-assigned height below */
  margin-right: 2px;
  background-color: teal;
}
